<h1> {{ title }} </h1>
<p>Welcome to {{ title }} </p>

<ul>
{{#each items}}
	<li>
		{{ @key }}: {{ this.stylename }}
		<br />{{ this.ig_username }}
		<br /><a href="{{ this.rendered_url }}" target="_blank"><img src="{{ this.rendered_url }}" width="200px" /></a>
	</li>
{{/each}}
</ul>
